In [1]:
import pandas as pd
import datetime as dt
from dateutil.relativedelta import relativedelta
from datetime import date

import warnings 
warnings.filterwarnings("ignore")

In [6]:
data_source = "Active on ART Patients Linelist_May-2024.csv"

df = pd.read_csv(data_source, 
                 usecols=['CCC No', 'Sex', 'Age at reporting','Art Start Date','Last VL Result','Last VL Date', 'Active in PMTCT', 'Self Visit Date','Next Appointment Date'], 
                 parse_dates=['Art Start Date','Last VL Date','Self Visit Date','Next Appointment Date'])  

df.columns = (df.columns.str.replace(" ","_").str.lower())
df.rename(columns = {"age_at_reporting":"age","self_visit_date":"last_self_visit"}, inplace=True)

df.art_start_date = pd.to_datetime(df.art_start_date)
df.last_vl_date = pd.to_datetime(df.last_vl_date)
df.last_self_visit = pd.to_datetime(df.last_self_visit)
df.next_appointment_date = pd.to_datetime(df.next_appointment_date)

In [ ]:
#elligible for VL - on ART for more than 3 months
elligible_df = active_art_df[~(df.art_start_date > pd.to_datetime(date.today() + relativedelta(months=-3)))]

In [ ]:
#vl not in the last year
pmtct_art = 'Yes'
elligible_df[elligible_df.last_vl_date < pd.to_datetime(date.today() + relativedelta(months=-12))].query('age > 24').query('active_in_pmtct != @pmtct_art')
#exclude pmctc yes

In [ ]:
#vl not in the last 6 months age below 25 not on pmtct
elligible_df[elligible_df.last_vl_date < pd.to_datetime(date.today() + relativedelta(months=-6))].query('age<25').query('active_in_pmtct != @pmtct_art')

In [ ]:
#vl not in the last 6 months pmtct
elligible_df[elligible_df.last_vl_date < pd.to_datetime(date.today() + relativedelta(months=-6))].query('active_in_pmtct == @pmtct_art')

In [ ]:
#elligible but with no vl history
elligible_df[elligible_df.last_vl_result.isnull()]

In [ ]:
active_art_df.query('age <19 and age >0').shape[0]

In [ ]:
elligible_df[elligible_df.active_in_pmtct.str.contains('Yes')]

In [ ]:
df.differentiated_care_model.unique()

In [ ]:
#assigning dc status
def dc(val):
    if val in {'Standard Care'}:
        return 'Not On DC'
    return 'On DC'

(active_art_df.assign(dc_status=df.differentiated_care_model.apply(dc)))

In [8]:
#assigning age groups
def age_group(val):
    if val >=0 and val <10:
        return 'paeds'
    if val >=10 and val <=19:
        return 'adolescents'
    return 'adult'

(active_art_df.assign(age_category=df.age.apply(age_group)))

,ccc_no,sex,age,art_start_date,last_vl_result,last_vl_date,active_in_pmtct,last_self_visit,next_appointment_date,age_category
0,1403300035,F,39,2014-02-28,LDL,2023-10-26,No,2024-04-26,2024-10-25,adult
1,1403300018,F,35,2014-02-27,LDL,2024-01-26,No,2024-04-23,2024-10-22,adult
2,1403300031,M,40,2014-02-20,LDL,2024-04-17,No,2024-04-17,2024-10-16,adult
3,1403300032,M,90,2016-09-14,LDL,2023-10-30,No,2024-11-04,2024-09-10,adult
4,1403300030,F,42,2014-02-20,LDL,2023-10-23,No,2024-01-23,2024-07-22,adult
...,...,...,...,...,...,...,...,...,...,...
1082,1403301349,M,48,2024-04-29,NaN,NaT,No,2024-05-29,2024-06-27,adult
1083,1287604611,F,32,2019-11-09,LDL,2024-05-21,No,2024-05-21,2024-08-19,adult
1084,1412005513,F,55,2011-08-22,LDL,2024-05-17,No,2024-05-17,2024-06-17,adult
1085,1336900114,M,50,2020-04-24,LDL,2022-11-26,No,2024-05-23,2024-06-06,adult
1086,1403301350,F,27,2024-05-29,NaN,NaT,No,2024-05-29,2024-12-06,adult

In [ ]:
#bins = [0,9,14,19,24,100]
#labels = ['pead','teen','adolescenet','young adult','adult']
#active_art_df['age_category'] = pd.cut(active_art_df['age'],bins, labels = labels)
#active_art_df[active_art_df.age_category.isnull()]

In [15]:
print(f'TX Current : {active_art_df.shape[0]}')

TX Current : 1087

In [18]:
print(f'Date : {date.today().strftime("%d/%m/%Y")}')

Date : 23/06/2024